#traitim img {
  max-width: 70px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all 3s ease ;
}

@keyframes example {
  from {opacity:0; transform:scale(0);}
  to {opacity:1; transform:scale(1);}
}

div#traitim {
  position: absolute;
  left: 489px;
  top: 273px;
}

div#traitim2 {
  position: absolute;
  left:1800px;
  top:110px;
}
#traitim2 img {
  max-width: 100px;
  animation-name: example2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transition: all 7s ease ;
}

@keyframes example2 {
  0% {opacity:0; transform:translate(0,-150px);}
  50% {opacity:1; transform:translate(-290px,0);}
  100% {opacity:0; transform:translate(0,-150px);}
}

div#tim {
  position: absolute;
  left: 899px;
  top: 734px;
}

#tim {
  animation-name: example3;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  transition: all 7s ease ;
}

@keyframes example3 {
  0% {opacity:1; transform:translate(0,0);}
  50% {opacity:1; transform:translate(0,-150px);}
  100% {opacity:1; transform:translate(0,0);}
}

.t1:hover img {
  cursor: pointer;
  transform:scale(1.2);
}


div#tim2 {
  position: absolute;
  left: 1250px;
  top: 584px
}

  #tim2 {
    animation-name: example4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: all 4s ease ;
  }

  @keyframes example4 {
    from {opacity:1; transform:rotate(0);}
    to {opacity:1; transform:rotate(360deg);}
  }


  div#tim3 {
    position: absolute;
    left: 650px;
    top: 650px;
    }

    #tim3 {
      animation-name: example5;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      transition: all 5s ease ;
    }

    @keyframes example5 {
      from {opacity:1; transform:rotate(0);}
      to {opacity:1; transform:rotate(360deg);}

    }

  div#tim4 {
      position: absolute;
      left: 350px;
      top: 650px;
      }

  #tim4 {
        animation-name: example6;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        transition: all 7s ease ;
      }

  @keyframes example6 {
    0% {opacity:1; transform:translate(0,0);}
    50% {opacity:1; transform:translate(0,-100px);}
    100% {opacity:1; transform:translate(0,0);}
  }

  div#tim5 {
      position: absolute;
      left: 1615;
      top: 430;
      }

  #tim5 {
        animation-name: example7;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        transition: all 7s ease ;
      }

  @keyframes example7 {
    0% {opacity:1; transform:translate(0,0);}
    50% {opacity:1; transform:translate(0,-100px);}
    100% {opacity:1; transform:translate(0,0);}
  }

  div#anhdong {
    position: absolute;
    left: 254px;
    top: 273px;
  }

  h1 {
    animation : h1 5s ease infinite ;
    font-size: 70px;
    font-family: Georgia;
    font-style: normal;
    border-bottom:0px;
    text-shadow: 13px 2px 10px #888888;
  }

  @keyframes h1 {
    0% {color:green; transform:translate(0,0); }
    50% {color:red; transform:translate(100px);}
    75% {color:black; transform:translate(0,30px);}
    100% {color:orange; transform:translate(0,10px);}
  }

  div#honnhau {
    position: absolute;
    left: 1655px;
    top: 599px;
  }

div#congai {
  position: absolute;
  left: 1376px;
  top: 616px;
}

#congai {
      animation-name: example10;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      transition: all 7s ease ;
    }

@keyframes example10 {
    0% {opacity:0; transform:translate(0,0);}
    50% {opacity:1; transform:translate(285px,0);}
    100% {opacity:0; transform:translate(0,0);}
  }

  div#thantinhyeu {
    position: absolute;
    left: 1041px;
    top: -14px;
  }

  #thantinhyeu {
        animation-name: example11;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        transition: all 7s ease ;
      }

  @keyframes example11 {
      from {opacity:0; transform:translate(0,0);}
      to {opacity:1; transform:translate(285px,285px);}
    }

    div#cungtinhyeu {
      position: absolute;
      left: 1116px;
      top: 94px;
  }

    #cungtinhyeu {
          animation-name: example12;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          transition: all 7s ease ;
          }

    @keyframes example12 {
        from {opacity:0; transform:translate(0,0);}
        to {opacity:1; transform:translate(500px,500px);}
      }


      div#chimsau {
        position: absolute;
        left: 650px;
        top: 328px
      }

      #chimsau {
            animation-name: example13;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            transition: all 7s ease ;
            }

      @keyframes example13 {
        0% {opacity:1; transform:translate(0,0);}
        50% {opacity:1; transform:translate(20px,0);}
        100% {opacity:1; transform:translate(0,0);}
        }

        div#dauhoi {
          position: absolute;
          left: 696px;
          top: 320px;
        }

        #dauhoi {
              animation-name: example14;
              animation-duration: 6s;
              animation-iteration-count: infinite;
              transition: all 7s ease ;
              }

        @keyframes example14 {
          from {opacity:0; transform:scale(0);}
          to {opacity:1; transform:scale(0.5);}
          }
